<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/anabelabarros"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/anabela-barros"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>&copy; <%= Time.now.year %> AnabelaB <i class="fas fa-heart"></i> All rights reserved.</p>

  </div>
</div>
