
<div>
  <title>Curriculum Website</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
</div>

<div>
    <h1>Job Position: Front-end Developer</h1>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/anabela-barros/" target="_blank">LinkedIn</a>
      <a href="https://github.com/anabelabarros" target="_blank">GitHub</a>
    </div>
    <p>City: London</p>
    <p>Country: United Kingdom</p>
    <p>work: Remote</p>
    <p>Availability: Full-time</p>
    <p>Salary: £30,000</p>
    <p>Skills: HTML, CSS, JavaScript, React, Ruby on Rails</p>
    <p>Experience: 1 years</p>
    <p>Education: Le Wagon </p>
    <p>Language: English</p>
    <p>Portfolio: <a href="https://troopl.com/anabelasb" target="_blank">https://troopl.com/anabelasb</a></p>
</div>
