<div class="welcome-banner">
    <h2>Role: Front-end Developer</h2>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/anabela-barros/" target="_blank">LinkedIn</a>
      <a href="https://github.com/anabelabarros" target="_blank">GitHub</a>
    </div>
</div>
<div class="summary">
    <p><strong>City:</strong> London</p>
    <p><strong>Country:</strong> United Kingdom</p>
    <p><strong>Work:</strong> Remote</p>
    <p><strong>Availability:</strong> Full-time</p>
    <p><strong>Salary:</strong> £30,000</p>
    <p><strong>Skills:</strong> HTML, CSS, JavaScript, React, Ruby on Rails</p>
    <p><strong>Experience: </strong>1 years</p>
    <p><strong>Education:</strong> Le Wagon </p>
    <p><strong>Language:</strong> English</p>
    <p><strong>Portfolio:</strong> <a href="https://troopl.com/anabelasb" target="_blank">https://troopl.com/anabelasb</a></p>
</div>
